<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Space</title>
    <centre>
        <h1>
            Welcome! :) :)
        </h1>

    </centre>
</head>
<body>

<h3>Place Your Input File Here! :)</h3>
    <div class="form-group">
        <label for="exampleInputEmail1">InputFile</label>
        <input type="text" class="form-control" name="File" placeholder="InputFile">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>


</body>
</html>





</html>